@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    width: 100%;
    background: url(../imagens/fundo.png)repeat-x;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.logo{
    float: left;
}
.logo a{
    background: url(../imagens/logo.png) no-repeat;
    width: 248px;
    text-indent: -9999px;
    display: block;
}
header{
    padding: 15px 0;
    height: 55px;
}
nav {
    list-style: none;
    float: right;
    margin: 20px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-start;
}
nav li a {
    color: #af670a;
    font-size: 17px;
    list-style-type: none;
}
.conteudo{
    width: 100%;
    display: inline-block;
}
.pgConteudo{
    width: 710px;
    float: left;
}
aside{
    width: 350px;
    float:right
}