.menu{
    float: left; 
    width:700px;
}
.menu li {
    float: left;
    list-style-type: none;
    border-radius: 10px 10px 0 0 ;
    background: lightcoral;
}
.menu a {
    display: block;
    padding: 0 2em;
    text-decoration: none;
}
